/** CSS STYLE **/
body {
  margin: 0;

  color: #2a2626;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-weight: normal;
  font-family: "Neucha", cursive;

  line-height: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.title-orange {
  color: #fe8a02;
}

/* Container */

.container {
  display: flex;
  flex-wrap: wrap;

  max-width: 1110px;
  margin: 0 auto;
}

/* Section */

.section {
  width: 100%;
  padding: 100px 0;
}

.section--bg {
  position: relative;
}

.section--bg::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.section--video {
  margin-bottom: -200px;
}

.section--dark {
  background-color: #42413c;
}

.section--light {
  background-color: #f5f4f0;
}

.section--brown {
  color: #fff;

  background-color: #b09a81;
}

/* Header */

.header {
  position: relative;

  padding: 100px 0;

  overflow: hidden;
}

.header__inner {
  position: relative;

  width: 100%;
}

.header__image {
  position: absolute;
  top: -45px;
  right: -270px;
  z-index: 1;

  height: 525px;
}

.header__content {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 185px;
}

.content--item {
  width: 50%;
}

.content--item + .content--item {
  margin-left: 30px;
}

.content--item p {
  margin-bottom: 40px;
}

/* Button */

.button {
  padding: 12px 24px;

  text-transform: uppercase;

  background-color: #fe8a02;

  border: none;
}

.button a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* Definition */

.definition {
  width: 100%;

  text-align: center;
}

.definition__subtitle {
  margin: 30px auto;
}

.definition__video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  width: 100%;
  margin-top: 100px;
}

.navigation__item {
  display: block;
  max-width: 350px;

  margin-bottom: 20px;
  padding: 24px;

  background-color: #f5f4f0;

  transition: background 0.1s linear, color 0.1s linear;
}

.navigation__item:first-child {
  padding: 0;

  background-color: #42413c;
}

.navigation__title {
  color: #fff;
  font-size: 52px;
}

.navigation__link {
  width: 100%;
  height: 100%;

  color: #42413c;

  text-decoration: none;
}

.item--number {
  padding-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.item--title {
  color: #fe8a02;
}

.item--content {
  margin-bottom: 0;

  color: #2a2626;
}

.clickable:hover {
  background-color: #fe8a02;
}

.clickable:hover .item--title,
.clickable:hover .item--number,
.clickable:hover .item--content {
  color: #fff;
}

/* Distortion */

.distortion__header {
  display: flex;
  justify-content: space-between;
}

.section--brown .distortion__header {
  flex-direction: row-reverse;
}

.distortion__image {
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion__image + .distortion__inner {
  margin-left: 30px;
}

.section--brown .distortion__image + .distortion__inner {
  margin-right: 30px;
  margin-left: 0;
}

.distortion__suptitle {
  margin: 0;

  font-size: 24px;
  font-family: "Neucha", cursive;
  
  color: #908d8b;
}

.section--brown .distortion__suptitle {
  color: #d7ccc0;
}

.distortion__description {
  color: #2a2626;

  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 41px;
}

.section--brown .distortion__description {
  color: #fff;
}

.distortion__content {
  display: flex;
  flex-wrap: wrap;

  margin-top: 100px;
}

.distortion__divider {
  width: 100%;
  z-index: 1;

  padding: 5px 10px;

  color: #fff;

  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  text-transform: uppercase;

  background-color: #b09a81;
}

.section--brown .distortion__divider {
  color: #b09a81;

  background-color: #fff;
}

.distortion__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Subscription */

.subscription {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 38px 55px 40px 55px;

  color: #fff;

  background-color: #42413c;
}

.subscription__title {
  width: 50%;
}

.subscription__email {
  width: 50%;

  font-weight: normal;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;

  line-height: 160%;
}

.subscription__item {
  display: flex;
  align-items: stretch;

  width: 100%;

  margin-top: 9px;
}

.subscription__input {
  width: calc(100% - 70px);
  max-width: 394px;
  height: 50px;

  padding: 15px;

  font-size: 16px;

  line-height: 50px;

  border: none;
}

.subscription__input::-webkit-input-placeholder {
  color: #757575;

  font-size: 13.1px;

  opacity: 0.2;
}

.button--form {
  position: relative;

  width: 70px;
}

.button--form::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);

  content: "";
}

.subscription__rules {
  margin: 0;

  font-size: 12px;
}

.subscription__rules a {
  color: #fff;
}

/* Copyright */

.copyright {
  width: 100%;
  margin-top: 60px;

  text-align: center;
}

.copyright__link {
  color: #1085c5;
}
